@font-face {
    font-family: Montserrat;
    src: url(../assets/font/Montserrat.ttf);
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/font/Montserrat-Italic.ttf);
    font-style: italic;
}

@keyframes glow {
    0%, 100%{
        color: #fff;
        text-shadow:
            0 0 7px #ffffff,
            0 0 10px #f3f3f3,
            0 0 21px #ebebeb,
            0 0 42px rgb(143, 143, 143),
            0 0 82px rgb(110, 110, 110),
            0 0 92px rgb(75, 75, 75),
            0 0 102px rgb(0, 0, 0),
            0 0 151px rgba(0, 0, 0);
    }

    50%{
        color: #fff;
        text-shadow:
            0 0 7px #757575,
            0 0 10px #5c5c5c,
            0 0 21px #3a3a3a,
            0 0 42px rgb(15, 15, 15),
            0 0 82px rgb(5, 5, 5),
            0 0 92px rgb(0, 0, 0),
            0 0 102px rgb(0, 0, 0),
            0 0 151px rgba(0, 0, 0);
    }
}

body{
    margin: 0;
    font-family: Montserrat;
    background-color: #121111;
}

.mainscreen-container {
    width: 100vw;
    height: 100%;
    background-color: black;
}

.mainscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #121111, #00062C);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

.mainscreen-title {
    margin: 0;
    color: white;
}

.glow{
    color: #fff;
    animation: glow 2000ms infinite ease;
}

.infobox{
    width: 40%;
}

.centerize-container {
    margin-top: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

.centerize {
    width: 95%;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.our-game-container {
    width: 40%;
}

.our-game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.our-game-logo {
    max-width: min(400px, 90%);
}

.our-game-description {
    /*max-width: calc(90% - 400px); !* 400px - ширина логотипа игры *!*/
}

@media (max-width: 1100px) {
    .infobox, .our-game-container {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .mainscreen-title {
        font-size: 24px;
    }

    .mainscreen {}

    .centerize-container, .centerize {
        width: 100%;
    }

    .our-game {
        flex-wrap: wrap;
    }
}